---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import WhySection from '../components/WhySection.astro'
import Services from '../components/Services.astro'
import Process from '../components/Process.astro'
import Portfolio from '../components/Portfolio.astro'
import Testimonials from '../components/Testimonials.astro'
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Home Remodeling & Construction">
  <Header />
  <main>
    <Hero />
    <WhySection />
    <Services />
    <Portfolio />
    <Process />
    <Testimonials />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
